[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
chromadb = "*"
google-api-python-client = "*"
langchain = "*"
langchain-community = "*"
transformers = "*"
sentence-transformers = "*"
faiss-cpu = "*"
pypdf = "*"
python-dotenv = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.9"
